.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 133rem;
}

.container__padding {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 133rem;
	padding: 3rem;
}

@media (max-width: 1000px) {
	.container {
		max-width: 95%;
	}
	.container__padding {
		max-width: 95%;
		padding: 1rem;
	}
}
